@page "/edit"
@using WebServy.Data
@inject AppState AppState

<div class="container">
    <h1>Edit</h1>
    @foreach (var webService in webServices)
    {
        <EditForm Model="@webService" OnValidSubmit="@(() => EditWebService(webService))">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="input-group">
                <InputText class="form-control" placeholder="Service Name*" @bind-Value="webService.Name" />
                <InputText class="form-control" placeholder="Service Url*" @bind-Value="webService.Url" />
                <InputText class="form-control" placeholder="Service Icon Url" @bind-Value="webService.IconUrl" />
                <InputCheckbox class="form-control" @bind-Value="webService.Enabled.Value" />
                <div class="input-group-append">
                    <button class="btn btn-success" type="submit">Save</button>
                </div>
            </div>
        </EditForm>
    }
</div>

@code {
    private readonly List<WebService> webServices = new();

    protected override void OnInitialized()
    {
        foreach (var webService in AppState.Config.WebServices)
        {
            webServices.Add(new WebService
            {
                    Enabled = new Observable<bool>(webService.Enabled.Value),
                    IconUrl = webService.IconUrl,
                    Name = webService.Name,
                    Url = webService.Url,
                    Uuid = webService.Uuid
                });
        }
    }

    private void EditWebService(WebService webService)
    {
        var oldWebService = AppState.Config.WebServices.First(ws => ws.Uuid == webService.Uuid);
        oldWebService.Enabled.Value = webService.Enabled.Value;
        oldWebService.IconUrl = webService.IconUrl;
        oldWebService.Name = webService.Name;
        oldWebService.Url = webService.Url;
    }
}
