@page "/"

<div class="container">
    <h1>WebServy</h1>
    <NavLink class="btn btn-success" href="add">Add</NavLink>
    <NavLink class="btn btn-primary" href="edit">Edit</NavLink>
    <NavLink class="btn btn-danger" href="remove">Remove</NavLink>
    <NavLink class="btn btn-secondary" href="settings">Settings</NavLink>
</div>
