@page "/remove"
@using WebServy.Data
@inject AppState AppState

<div class="container">
    <h1>Remove</h1>
    <ul class="list-group">
        @foreach (WebService webService in AppState.Config.WebServices)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                @webService.Name
                <button class="btn btn-danger" @onclick="() => RemoveSelectedWebServices(webService)">Remove</button>
            </li>
        }
    </ul>
</div>

@code {
    private void RemoveSelectedWebServices(WebService selectedWebService) => AppState.Config.WebServices.Remove(selectedWebService);
}
