@page "/settings"
@using WebServy.Data
@inject AppState AppState

<div class="container">
    <h1>Settings</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Style</h5>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" @bind="AppState.Config.UseIconNavBar.Value">
                    </div>
                </div>
                <span class="form-control">Use Icon NavBar</span>
            </div>
        </div>
    </div>
</div>
