@inherits LayoutComponentBase
@using WebServy.Data
@inject AppState AppState
@inject NavigationManager NavigationManager

<div class="page bg-dark text-light">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main" hidden="@(AppState.Config.LastUsedWebServiceUuid.Value is not null)">
        <nav class="navbar navbar-dark bg-dark" hidden="@(NavigationManager.ToBaseRelativePath(NavigationManager.Uri) == string.Empty)">
            <NavLink class="navbar-brand" href="/">Back</NavLink>
        </nav>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        if (AppState.Config.LastUsedWebServiceUuid.Value is not null)
        {
            NavigationManager.NavigateTo($"service/{AppState.Config.LastUsedWebServiceUuid.Value}");
        }
        AppState.Config.LastUsedWebServiceUuid.Changed += (_, e) =>
        {
            if (e.Value is not null)
            {
                NavigationManager.NavigateTo($"service/{e.Value}");
            }
            else
            {
                NavigationManager.NavigateTo("/");
            }
        };
    }
}
